* {
    transition: filter 0.2s, background-color 0.2s, color 0.2s, background 0.2s;
}

body, html {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}


strong {
    font-weight: 200;
}


.card-container {
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-size-image {
    object-fit: fill;
    width: auto;
    max-width: 48%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    height: auto;
    max-height: 100%;
}

.full-size-name {
    font-weight: 700;
    font-size: 32px;
    margin: clamp(0rem, 1vh, 2rem) 0;
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: black;
    margin-bottom: clamp(1rem, 3vh, 4rem);
    border-radius: 4px;
    height: clamp(2rem, 20vh, 2.5rem);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    width: 7.5rem;
}
.right-parameters {
    margin-left: 0.5rem;
}
.parameters-container {
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-button:active {
    opacity: 0.6;
}
