* {
    transition: filter 0.2s, background-color 0.2s, color 0.2s, background 0.2s;
}

body, html {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
}

.header {
    transition: max-height 0.3s;
    font-weight: 700;
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-items: stretch;
    justify-content: stretch;
    font-size: 22px;
    min-height: 5rem;
    height: 22vh;
    max-height: 12rem;
    left: 0;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.top-panel {
    flex: 1;
    min-height: 2rem;
    max-height: 4rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.header-text {
    margin-left: 5%;
}

.control-panel {
    transition: background-color 0.2s, min-height 0.3s, flex 0.3s;
    flex: 1;
    position: relative;
    background-color: hsl(0, 0%, 98%);
    min-height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode-text {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    margin-right: 5%;

}

.themeswitch {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.themeswitch:hover {
    cursor: pointer;
}

.moon {
    margin-right: 4px;
    margin-bottom: 2px;
    width: 14px;
}

.search-container {
    transition: height 0.3s;
    margin-left: 5%;
    flex: 1;
    margin-right: 2rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: clamp(2rem, 8vh, 3rem);
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;

}

.search-bar {
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    margin-left: 1.5rem;
    padding: 0;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.search-bar::placeholder {
    opacity: 0.4;
}

.filter {
    transition: height 0.3s, opacity 0.3s;
    margin-right: 5%;
    background-color: white;
    position: relative;
    align-items: center;
    border-radius: 6px;
    display: flex;
    user-select: none;
    justify-content: space-between;
    font-size: 12px;
    height: clamp(2rem, 8vh, 3rem);
    padding: 0 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 12rem;
}

.filter-checkbox {
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
}

.dropdown-menu {
    transition: visibility 0.2s, height 0.2s, opacity 0.2s;
    cursor: auto;
    background-color: white;
    left: 0;
    min-height: 0;
    top: clamp(36px, 8vh, 54px);

    visibility: hidden;
    padding: 0;
    box-sizing: border-box;
    border-radius: 6px;
    min-width: 100%;
    position: absolute;
    flex-direction: column;
}

.show-dropdown {
    .dropdown-menu {
        padding: 0.5rem 0;
        visibility: visible;
        opacity: 1;
    }

    .region {
        height: 2rem;
        opacity: 1;
        visibility: visible;
    }

    .arrow {
        transform: rotate(-90deg);
    }

}

.region {
    visibility: hidden;
    transition: height 0.2s, opacity 0.2s;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    user-select: none;
    height: 0;
    opacity: 0;
    padding: 0 1rem;
}

.region-checked {
    background-color: hsl(0, 0%, 92%);
}

.region:hover {
    background-color: hsl(0, 0%, 92%);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.region-checkbox {
    left: 0;
    margin: 0;
    opacity: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

.region-checkbox:hover {
    cursor: pointer;
}

.arrow {
    transition: transform 0.2s;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.application {
    transition: margin-top 0.3s;
    margin-top: clamp(5rem, 22vh, 12rem);
    padding-bottom: 2rem;
    scroll-behavior: smooth;
    width: 90%;
    display: grid;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, 14rem)
}

.country-card {
    transition: none;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    height: 20rem;
    border-radius: 3px;
    overflow: hidden;
}

.country-card p, strong {
    transition: none;
}

img {
    width: 100%;
    height: 46%;
    object-fit: cover;
}

.country-name {
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 700;
}

.country-population, .country-region, .country-capital {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 13px;
    line-height: .8rem;
}


strong {
    font-weight: 200;
}

.ico-mglass {
    flex-shrink: 0;
    margin-left: 1.5rem;
    transform: scale(1.5);
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    height: 6px;
    width: 6px;
    border: 2px solid #888;

    &:after {
        content: "";
        height: 2px;
        width: 6px;
        background: #888;
        position: absolute;
        top: 7px;
        left: 5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
}

.ico-mglass:hover {
    cursor: pointer;
}

.dark-theme {
    background: hsl(207, 26%, 17%);

    .country-card {
        background-color: hsl(209, 23%, 22%);
        color: white;
    }

    .control-panel {
        background-color: hsl(207, 26%, 17%);
    }

    .top-panel {
        background-color: hsl(209, 23%, 22%);
        color: white;
    }

    .return-button {
        color: white;
        background-color: hsl(209, 23%, 22%);
    }

    .border-country {
        color: white;
        background-color: hsl(209, 23%, 22%);
    }

    .search-container {
        background-color: hsl(209, 23%, 22%);
    }

    .search-bar {
        color: white;
    }

    .moon {
        filter: invert(100%);
    }

    .card-description {
        color: white;
    }

    .search-bar::placeholder {
        color: white;
    }

    .arrow {
        border-color: white;
    }

    .ico-mglass {
        border-color: white;
        background-color: hsl(209, 23%, 22%);

        &:after {
            background-color: white;
        }
    }

    .dropdown-menu {
        background-color: hsl(209, 23%, 22%);
    }

    .region:hover {
        background-color: hsl(207, 26%, 12%);
    }

    .region-checked {
        background-color: hsl(207, 26%, 12%);
    }

    .filter {
        background-color: hsl(209, 23%, 22%);
        color: white;
    }
}

.open-country {
    .header {
        min-height: 2rem;
        height: 8vh;
        max-height: 4rem;
    }

    .control-panel {
        flex: none;
        min-height: 0;
        height: 0;
    }

    .search-container {
        height: 0;
    }

    .filter {
        opacity: 0;
        height: 0;

    }

    .application {
        margin-top: clamp(3rem, 10vh, 8rem);
        display: flex;
    }

    .application > .country-card {
        display: none;
    }
}

.countries {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: auto;
}

.border-countries {
    margin-top: clamp(0rem, 2vh, 2rem);
}

.border-country {
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 0.5rem 0.5rem;
    justify-content: center;
    border-radius: 4px;
    min-width: fit-content;
    color: black;
    margin: 0.5rem 0.5rem 0 0;
}
.opened-country {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card-description {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:left;
    width: 48%;
}

.card-container {
    display: flex;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-size-image {
    object-fit: fill;
    width: auto;
    max-width: 48%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    height: auto;
    max-height: 100%;
}

.full-size-name {
    font-weight: 700;
    font-size: 32px;
    margin: clamp(0rem, 1vh, 2rem) 0;
}

.return-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: black;
    margin-bottom: clamp(1rem, 3vh, 4rem);
    border-radius: 4px;
    height: clamp(2rem, 20vh, 2.5rem);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    width: 7.5rem;
}

.parameters-container {
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-button:active {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .header {
        min-height: 8rem;
        height: 20vh;
        max-height: 16rem;
    }

    .top-panel {
        height: clamp(2rem, 7vh, 4rem);
    }

    .control-panel {
        flex: 2;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
    }

    .search-container {
        height: clamp(2rem, 5vh, 3rem);
    }

    .filter {
        margin-left: 5%;
        height: clamp(2rem, 5vh, 3rem);

    }

    .open-country {
        .application {
            margin-top: clamp(3rem, 7vh, 6rem);
        }
        .header {
            height: 5vh;
        }
        .return-button {
            margin-bottom: clamp(1rem, 3vh, 4rem);

        }
    }

    .header-text {
        font-size: 14px;
    }

    .dark-mode-text {
        font-size: 12px;
    }

    .moon {
        width: 12px;
    }

    .application {
        margin-top: clamp(2rem, 20vh, 16rem);
        row-gap: 2rem;
    }

    .search-container {
        flex: none;
        width: 90%;
    }

    .full-size-name {
    }


    .parameters-container {
        flex-direction: column;
        gap: clamp(0rem, 2vh, 2rem);
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .card-description {
        min-height: 100%;
        height: 40%;
        width: 90%;
        max-width: 16rem;
    }

    .search-bar {
        width: 100%;
    }

    .full-size-image {
        width: 36vh;
        max-width: 16rem;
    }
}